{% extends 'base.html' %}

<!-- Active navbar -->
{% block navbar %}

<a class="nav-item nav-link" href="/">Home</a>
<a class="nav-item nav-link active" href="/about">About</a><span class="sr-only">(current)</span>
<a class="nav-item nav-link" href="/menu">Menu</a>
<a class="nav-item nav-link" href="/contact">Contact</a>

{% endblock navbar %}

{% block content %}

<section class="container pt-5">
    <div class="row mt-3 mb-5">
        <div class="col-lg-6">
            <h2 class="text-center">About Us</h2>
            <p>
                We here at Boba Shop aim to be the ambassador of boba/bubble tea to those who have yet to try the delicious 
                taiwanese favorite.
            </p>
            <p>
                With complete transparency, we won't lie to our customers that our boba/bubble tea is the best in the world, but
                we will say that we take care with every drink we craft and our boba represents what boba/bubble tea should 
                taste like all around the world.
            </p>
        </div>
        <div class="col-lg-6">
            <h2 class="text-center">What is boba/bubble tea anyway?</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/1I5fa2GVlLA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
<section class="container border-top mt-5 pt-5">
    <div class="row mt-3 mb-5">
        <div class="col-lg-6">
            <h2 class="text-center">Where did boba/bubble tea originate?</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/jskZ_bv0H5A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6">
            <h2 class="text-center">Our Mission</h2>
            <p>
                We here at Boba Shop aim to introduce boba/bubble tea to everyone, because everyone deserves to try
                a little bit of boba in their lives. Trust us, it's great!
            </p>
            <p>
                Not many people even know what boba/bubble tea really is so for those trying to pursuade their friends to 
                try a new drink that looks and sounds out of their comfort zone, just show them our way!
            </p>
        </div>
    </div>
</section>

{% endblock content %}