{% extends 'base.html' %}

<!-- Active navbar -->
{% block navbar %}

<a class="nav-item nav-link" href="/">Home</a>
<a class="nav-item nav-link" href="/about">About</a>
<a class="nav-item nav-link" href="/menu">Menu</a>
<a class="nav-item nav-link active" href="/contact">Contact</a><span class="sr-only">(current)</span>

{% endblock navbar %}

{% block content %}

<section class="container pt-5">
    <div class="row mt-3 mb-5">
        <div class="col-lg-6">
            <h2 class="display-2 text-center"><strong>Our Shops</strong></h2>
            <div class="row row-cols-2">
                <div class="col-lg-6">
                    <p><u>Ealing</u></p>
                    <p>W 72nd St <br>
                        London W5 3HU</p>
                        
                    <p>020 8991 1457 <br>
                        info@bobashop.co.uk</p>

                    <p>Mon-Fri: 7:30-17:00</p>

                    <p>Sat: 8:00-17:00</p>
                        
                    <p>Sun & Public Holidays:
                        9:00-16:00</p>
                </div>
                <div class="col-lg-6">
                    <p><u>East Sheen</u></p>
                    <p>5th Avenue <br>
                        London SW14 8QR</p>
                        
                    <p>020 8876 7203 <br>
                        info@bobashop.co.uk</p>

                    <p>Mon-Fri: 7:30-17:00</p>

                    <p>Sat: 8:00-17:00</p>
                        
                    <p>Sun & Public Holidays:
                        9:00-16:00</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <!-- Where the Google map would go -->
            <!-- <div id=map></div> -->
            <img src="../static/images/placeholder-map.jpg" class="img-fluid">
        </div>
    </div>
</section>

{% endblock content %}