{% extends 'base.html' %}

<!-- Active navbar -->
{% block navbar %}

<a class="nav-item nav-link" href="/">Home</a>
<a class="nav-item nav-link" href="/about">About</a>
<a class="nav-item nav-link" href="/menu">Menu</a>
<a class="nav-item nav-link active" href="/contact">Contact</a><span class="sr-only">(current)</span>

{% endblock navbar %}

{% block content %}

<section class="container pt-5">
    <div class="row mt-3 mb-5">
        <div class="col-lg-6">
            <h2 class="display-2 text-center"><strong>Our Shops</strong></h2>
            <div class="col-lg-6">
            
            </div>
            <div class="col-lg-6">
    
            </div>
        </div>
        <div class="col-lg-6">
            <!-- Where the Google map would go -->
            <!-- <div id=map></div> -->
        </div>
    </div>
</section>

{% endblock content %}