{% extends 'base.html' %}

<!-- Active navbar -->
{% block navbar %}
<a class="nav-item nav-link active" href="/">Home</a><span class="sr-only">(current)</span>
<a class="nav-item nav-link" href="/about">About</a>
<a class="nav-item nav-link" href="/menu">Menu</a>
<a class="nav-item nav-link" href="/contact">Contact</a>
{% endblock navbar %}

{% block content %}
<section class="jumbotron text-center hero-background-img">
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <img src="../static/images/cover-boba-4.jpg" class="d-block w-100 img-fluid" alt="test-4">
            </div>
            <div class="carousel-item" data-interval="10000">
                <img src="../static/images/cover-boba-2.jpg" class="d-block w-100 img-fluid" alt="test-2">
            </div>
            <div class="carousel-item" data-interval="10000">
                <img src="../static/images/cover-boba-3.jpg" class="d-block w-100 img-fluid" alt="test-3">
            </div>
            <div class="carousel-item" data-interval="10000">
                <img src="../static/images/cover-boba-1.jpg" class="d-block w-100 img-fluid" alt="test-1">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>

{% endblock content %}