{% extends 'base.html' %}

<!-- Active navbar -->
{% block navbar %}

<a class="nav-item nav-link" href="/">Home</a>
<a class="nav-item nav-link" href="/about">About</a>
<a class="nav-item nav-link active" href="/menu">Menu</a><span class="sr-only">(current)</span>
<a class="nav-item nav-link" href="/contact">Contact</a>

{% endblock navbar %}

{% block content %}

<!-- Iced Milk Teas -->
<section>
    <h3 class="display-4 text-center pt-5 pb-5"><strong><u>Menu</u></strong></h3>
    <div class="container pt-5 pb-5">
        <h4 class="text-center">Iced Milk Teas</h4>
        <div class="row mt-5">
            <div class="col-lg-4 mb-5 mt-5">
                <h6>Original Milk Tea</h6>
                <p>$3.50</p>
                <p>Made with brewed black tea and half & half.</p>
            </div>
            <div class="col-lg-4 mb-5 mt-5">
                <h6>Thai Tea</h6>
                <p>$3.50</p>
                <p>Made with brewed Thai blend tea and half & half.</p>
            </div>
            <div class="col-lg-4 mb-5 mt-5">
                <h6>Taro Milk Tea</h6>
                <p>$3.50</p>
                <p>Made with brewed green tea, taro, and half & half.</p>
            </div>
            <div class="col-lg-4 mb-5 mt-5">
                <h6>Almond Milk Tea</h6>
                <p>$3.50</p>
                <p>Made with brewed black tea, almond flavor, and half & half.</p>
            </div>
            <div class="col-lg-4 mb-5 mt-5">
                <h6>Coconut Milk Tea</h6>
                <p>$3.50</p>
                <p>Made with brewed black tea, coconut milk, and half & half.</p>
            </div>
            <div class="col-lg-4 mb-5 mt-5">
                <h6>Vanilla Milk Tea</h6>
                <p>$3.50</p>
                <p>Made with brewed black tea, vanilla extract, and half & half.</p>
            </div>
            <div class="col-lg-4 mb-5 mt-5">
                <h6>Lavender Milk Tea</h6>
                <p>$3.50</p>
                <p>Made with brewed black tea, lavender flavor, and half & half.</p>
            </div>
            <div class="col-lg-4 mb-5 mt-5">
                <h6>Jasmine Green Milk Tea</h6>
                <p>$3.50</p>
                <p>Made with brewed green tea and half & half.</p>
            </div>
        </div>
    </div>
    <!-- Iced Teas -->
    <div class="container pt-5 pb-5">
        <h4 class="text-center">Iced Teas</h4>
        <div class="row mt-5">
            <div class="col-lg-4 mb-5 mt-5">
                <h6>Hibiscus Tea</h6>
                <p>$3.50</p>
            </div>
            <div class="col-lg-4 mb-5 mt-5">
                <h6>Jasmine Green Tea</h6>
                <p>$3.50</p>
            </div>
            <div class="col-lg-4 mb-5 mt-5">
                <h6>Mango Iced Tea</h6>
                <p>$3.50</p>
                <p>Made with real mango pieces and brewed green tea.</p>
            </div>
            <div class="col-lg-4 mb-5 mt-5">
                <h6>Strawberry Iced Tea</h6>
                <p>$3.50</p>
                <p>Made with real strawberry pieces and brewed green tea.</p>
            </div>
            <div class="col-lg-4 mb-5 mt-5">
                <h6>Passion Fruit Tea</h6>
                <p>$3.50</p>
                <p>Made with brewed green tea and passion fruit flavor.</p>
            </div>
            <div class="col-lg-4 mb-5 mt-5">
                <h6>Lychee Iced Tea</h6>
                <p>$3.50</p>
                <p>Made with brewed green tea and lychee flavor.</p>
            </div>
            <div class="col-lg-4 mb-5 mt-5">
                <h6>Peach Iced Tea</h6>
                <p>$3.50</p>
                <p>Made with brewed green tea and peach flavor.</p>
            </div>
        </div>
    </div>
    <!-- Smoothies -->
    <div class="container pt-5 pb-5">
        <h4 class="text-center">Smoothies</h4>
        <div class="row mt-5">
            <div class="col-lg-4 mb-5 mt-5">
                <h6>Avocado Smoothie</h6>
                <p>$3.50</p>
                <p>Made with almond milk and avacado.</p>
            </div>
            <div class="col-lg-4 mb-5 mt-5">
                <h6>Honey Milk Smoothie</h6>
                <p>$3.50</p>
                <p>Made with almond milk and honey.</p>
            </div>
            <div class="col-lg-4 mb-5 mt-5">
                <h6>Honeydew Smoothie</h6>
                <p>$3.50</p>
                <p>Made with almond milk and honedew flavor.</p>
            </div>
            <div class="col-lg-4 mb-5 mt-5">
                <h6>Mango Smoothie</h6>
                <p>$3.50</p>
                <p>Made with almond milk and real mango.</p>
            </div>
            <div class="col-lg-4 mb-5 mt-5">
                <h6>Strawberry Smoothie</h6>
                <p>$3.50</p>
                <p>Made with almond milk, real strawberry.</p>
            </div>
            <div class="col-lg-4 mb-5 mt-5">
                <h6>Taro Smoothie</h6>
                <p>$3.50</p>
                <p>Made with almond milk, coconut, and taro flavor.</p>
            </div>
            <div class="col-lg-4 mb-5 mt-5">
                <h6>Thai Tea Smoothie</h6>
                <p>$3.50</p>
                <p>Made with almond milk and Thai tea.</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}